.general
    padding: 24.5px 0 150px
    &__title
        margin-bottom: 19px
    &__subtitle
        margin-top: 34px
    &__fixed
        position: fixed
        width: 522px
        height: 80vh
        right: 59px
        top: 69px
        background: #C4C4C4