.general
    padding: 24.5px 0 130px
    &__title
        margin-bottom: 19px
    &__subtitle
        margin-top: 34px
    &__fixed
        position: fixed !important
        width: 522px
        height: 80vh
        right: 62px
        top: 69px
        background: #C4C4C4
        &-popup
            display: flex
            flex-direction: row
            align-items: flex-start
            justify-content: flex-start
            width: 439px
            min-height: 142px
            background-color: #fff
            img
                width: 142px
                height: 142px
            &-info
                position: relative
                padding: 9px 0 0 12px
            &-name
                margin-left: 20px
            &-desc
                margin: 13px 0 24px 6px
            &-close
                width: 14px
                height: 14px
                position: absolute
                top: 15.5px
                right: 13.5px
                background-image: url("../icons/close.svg")
                background-repeat: no-repeat
                background-position: center center
                background-size: 200%
            .tag
                width: 80px
                min-height: 28px
                box-sizing: border-box
                padding: 5px 0 5px
                text-align: center
                margin-bottom: 0