
@media (max-width: 1440px)
    .container-m
        width: calc(63.75vw - 170px)
    .general__fixed
        width: 36.25vw

@media (min-width: 769px)
    .boutik__wrapper
        width: 649px
    .pagination
        left: 325px
@media (min-width: 1025px)
    .boutik__wrapper
        width: auto
    .pagination
        left: 50%
@media (min-width: 1284px)
    .boutik__wrapper
        width: 649px
    .pagination
        left: 325px
@media (min-width: 1440px)
    .container
        margin: 0 0 0 5vw
        &-m
            margin: 0 0 0 5vw
    .general__fixed
        width: calc(95vw - 840px)
@media (min-width: 1515px)
    .container
        width: calc(100% - 10vw)
        margin: 0 0 0 10vw
        &-m
            margin: 0 0 0 10vw
    .general__fixed
        width: calc(90vw - 840px)
@media (min-width: 1615px)
    .container-s
        margin: 0 auto
@media (min-width: 1700px)
    .container
        width: calc(100% - 15vw)
        margin: 0 0 0 15vw
        &-m
            margin: 0 0 0 15vw
    .general__fixed
        width: calc(85vw - 840px)
@media (min-width: 1988px)
    .general__fixed
        width: 850px
        right: calc(85vw - 1628px)
@media (min-width: 2000px)
    .container
        width: calc(100% - 20vw)
        margin: 0 0 0 20vw
        &-m
            margin: 0 0 0 20vw
    .general__fixed
        width: calc(80vw - 840px)
        right: 62px
@media (min-width: 2112px)
    .general__fixed
        width: 850px
        right: calc(80vw - 1628px)
@media (min-width: 2190px)
    .container
        width: calc(100% - 23vw)
        margin: 0 0 0 23vw
        &-m
            margin: 0 0 0 23vw
    .general__fixed
        width: calc(77vw - 840px)
        right: 62px
@media (min-width: 2195px)
    .general__fixed
        width: 850px
        right: calc(77vw - 1628px)
@media (min-width: 2450px)
    .container
        width: calc(100% - 26vw)
        margin: 0 0 0 26vw
        &-m
            margin: 0 0 0 26vw
    .general__fixed
        right: calc(74vw - 1628px)           

@media (max-width: 1290px)
    .general__fixed-popup
        width: 390px
        min-height: 130px
        img
            width: 130px
            height: 130px
        &-info
            padding: 9px 0 0 5px
        &-name
            margin-left: 10px
        &-desc
            margin: 8px 0 15px 3px
        &-close
            top: 12px
        .tag
            width: 75px
            margin-right: 7px 
            &:last-child
                margin-right: 0
@media (max-width: 1250px)
    .container-s
        margin: 0 20vw 0 25vw
@media (max-width: 1222px)
    .boutik .slick-dots
        top: 176px
    .slick-custarr-mini
        top: 79px
@media (max-width: 1180px)
    .boutik .slick-dots
        top: 169px
    .slick-custarr-mini
        top: 76px
@media (max-width: 1140px)
    .boutik .slick-dots
        top: 162px
    .slick-custarr-mini
        top: 74px
@media (max-width: 1159px)
    .container-m
        width: calc(100vw - 580px)
    .general__fixed
        width: 420px
@media (max-width: 1110px)
    .container-m
        width: calc(100vw - 560px)
    .general__fixed
        right: 35px
@media (max-width: 1090px)
    .boutik .slick-dots
        top: 156px
    .slick-custarr-mini
        top: 71px
@media (max-width: 1080px)
    .container-m
        width: calc(100vw - 570px)
    .general__fixed
        right: 30px
@media (max-width: 1070px)
    .boutik .slick-dots
        top: 149px
    .slick-custarr-mini
        top: 68px
@media (max-width: 1050px)
    .container
        &-s
            margin: 0 auto
        &-m
            width: calc(100vw - 555px)
    .general__fixed
        right: 15px
@media (max-width: 1040px)
    .boutik .slick-dots
        top: 143px
    .slick-custarr-mini
        top: 65px
@media (max-width: 1024px)
    .container-m
        width: 754px
    .general__fixed
        top: 67px
        right: auto
        left: 0
        width: 100vw
        height: calc(100vh - 67px)
        background-color: #fff
        &_inactive
            left: 100vw !important
            transition: .5s left
        #map
            position: absolute
            top: 0
            left: 43px 
            width: calc(100vw - 85px)
            height: calc(100vh - 90px)
        &-close
            display: block
        &-filters
            display: block
        &-popup
            width: 439px
            min-height: 142px
            img
                width: 142px
                height: 142px
            &-info
                padding: 9px 0 0 12px
            &-name
                margin-left: 20px
            &-desc
                margin: 13px 0 24px 6px
            &-close
                top: 15.5px
            &-filters
                top: 15.5px
            .tag
                width: 80px
                margin-right: 11px 
                &:last-child
                    margin-right: 0
    .toggle__button
        display: block
    .boutik
        padding-left: 0
        .slick-dots
            top: 189px
    .slick-custarr-mini
        top: 84px
@media (max-width: 950px)
    .overlay
        &__back
            left: -105px
@media (max-width: 880px)
    .overlay
        &__carousel
            width: 70vw
            img
                width: 70vw
@media (max-width: 850px)
    .container
        margin-left: 40px
        &-m
            width: calc(100% - 70px)
            margin: 0 30px 0 40px
@media (max-width: 830px)
    .overlay
        &__carousel
            width: 65vw
            img
                width: 65vw
@media (max-width: 769px)
    .header
        padding-top: 17px
        nav
            margin-left: 42px
        &__city_active::before
            bottom: -12px 
    .container
        width: calc(100% - 70px)
        margin: 0 30px 0 40px
        &-s
            width: calc(100% - 119px)
            margin: 0 62px 0 57px
        &-m
            width: calc(100% - 120px)
            margin: 0 63px 0 57px
    .boutik
        &__wrapper

            &>div .boutik:last-child
                padding-bottom: 54px
                border-bottom: 1px solid $mainDark20
    .general
        margin-bottom: 122px
        &__fixed
            #map
                left: 43px 
    .slick
        &-custarr
            &-general
                bottom: -110px
        &-next
            right: -33px
            &.slick-custarr
                &-general
                    right: 100px
        &-prev
            left: -33px
            &.slick-custarr
                &-general
                    left: 100px
    .overlay
        &__carousel
            width: 462px
            img
                width: 462px
        &__text
            margin: 22px 0 100px
        &__back
            left: -107px
        &__top-wrapper
            img
                height: 44px
                width: 44px
        &__titles
            margin-left: 15px
        &__share
            margin-top: 9px
            img
                width: 14.5px
            span
                margin-left: 16px
                font-size: 13px
                margin-left: 7px
    .pagination
        bottom: -73px 
    .slick-custarr-mini
        display: none !important
@media (max-width: 748px)
    .overlay
        &__back
            left: -100px
    .boutik .slick-dots
        top: 180px
    .slick-custarr-mini
        top: 103px
@media (max-width: 728px)
    .overlay
        &__back
            left: -93px
@media (max-width: 720px)
    .boutik .slick-dots
        top: 172px
    .slick-custarr-mini
        top: 100px
@media (max-width: 708px)
    .overlay
        &__back
            left: -86px
@media (max-width: 688px)
    .overlay
        &__back
            left: -79px
    .boutik .slick-dots
        top: 166px
    .slick-custarr-mini
        top: 98px
@media (max-width: 670px)
    .boutik .slick-dots
        top: 160px
    .slick-custarr-mini
        top: 96px
@media (max-width: 660px)
    .overlay
        &__top-wrapper
            margin-left: 30vw
        &__back
            left: -70px
@media (max-width: 640px)
    .boutik .slick-dots
        top: 152px
    .slick-custarr-mini
        top: 93px
@media (max-width: 620px)
    .boutik .slick-dots
        top: 148px
    .slick-custarr-mini
        top: 89px
@media (max-width: 600px)
    .boutik .slick-dots
        top: 143px
    .slick-custarr-mini
        top: 87px
    .overlay
        &__top-wrapper
            margin-left: 25vw
@media (max-width: 585px)
    .container
        width: calc(100% - 50px)
        margin: 0 20px 0 30px
        &-m
            width: calc(100% - 50px)
            margin: 0 20px 0 30px
        &-s
            width: calc(100% - 50px)
            margin: 0 20px 0 30px
    .sort-by
        &__dropdown
            width: 300px
    .boutik .slick-dots
        top: 153px
    .slick-custarr-mini
        top: 93px
@media (max-width: 570px)
    .boutik .slick-dots
        top: 151px
    .slick-custarr-mini
        top: 91px
@media (max-width: 555px)
    .general__fixed-popup
        width: 355px
        min-height: 125px
        img
            width: 125px
            height: 125px
        &-info
            padding: 7px 1px 0 5px
        &-name
            margin-left: 10px
        &-desc
            margin: 5px 0 8px 3px
        &-close
            top: 10px
            right: 10px
        .tag
            width: 70px
            padding: 4px 0
            margin-right: 5px
            &:last-child
                margin-right: 0
    .boutik .slick-dots
        top: 148px
    .slick-custarr-mini
        top: 89px
@media (max-width: 520px)
    .boutik .slick-dots
        top: 139px
    .slick-custarr-mini
        top: 86px
    .overlay
        &__top-wrapper
            margin-left: 22vw
@media (max-width: 490px)
    .container
        width: calc(100% - 25px)
        margin: 0 10px 0 15px
        &-m
            width: calc(100% - 25px)
            margin: 0 10px 0 15px
    .boutik .slick-dots
        top: 136px
    .slick-custarr-mini
        top: 84px
@media (max-width: 470px)
    h2
        font-size: 16px
        line-height: 24px
    .container
        width: calc(100% - 40px)
        margin: 0 19px 0 21px
        &-m
            width: calc(100% - 40px)
            margin: 0 19px 0 21px
        &-s
            width: calc(100% - 42px)
            margin: 0 auto
    .header
        position: relative
        height: 48px
        padding-top: 11px
        z-index: 110
        &_hidden
            transform: translateY(-100%)
        &__logo
            margin-left: 40px
        nav
            display: none
    .general
        padding-top: 13px
        margin-bottom: 62px
        &__title
            margin-bottom: 15px
        &__subtitle
            margin-top: 18px
        &__fixed
            top: 48px
            height: calc(100vh - 48px)
            #map
                left: 12px 
                width: calc(100vw - 25px)
                height: calc(100vh - 61px)
            &-close
                height: 40px
                width: 40px
                top: 15px
                left: 19px
            &-filters
                height: 40px
                width: 40px
                top: 15px
                right: 19px
            &-popup
                position: fixed
                top: auto
                bottom: 33px
                left: 50%
                transform: translateX(-50%)
                width: 322px
                min-height: 100px
                img
                    width: 100px
                    height: 100px
                &-info
                    position: relative
                    padding: 5px 0 0 15px
                &-name
                    margin-left: 0
                    color: $highlights
                &-desc
                    display: none
                &-close
                    display: none
                .tag
                    width: auto
                    min-height: auto
                    padding: 0
                    margin: 0 0 4px 0
                    color: $mainDark70
                    font-size: 13px
                    line-height: 19px
                    border: none
                    text-align: left
                    &:last-child
                        margin-bottom: 0
                    &:hover
                        color: $b70
                        background-color: #fff
                    &__wrapper
                        flex-direction: column
                        margin: 1px 0 0 14px
    .boutik
        padding-top: 13px
        padding-bottom: 38px
        padding-right: 0
        //margin-left: 1px
        &__img
            flex-wrap: wrap
            div
                width: calc((100% - 13px) / 2)
                margin: 0 13px 13px 0
                &:nth-child(3), &:nth-child(4)
                    margin-bottom: 0
                &:nth-child(2n)
                    margin-right: 0
        &__info
            margin-left: 0
        &__wrapper
            margin-top: 0
            //padding-left: -1px
            &>div .boutik
                &:last-child
                    padding-bottom: 42px
                &:first-child
                    margin-top: 24px
        &__top-wrapper
            padding-right: 0
        &__location
            a
                margin-left: 5px
        &__desc
            margin-top: 5px
        &__service
            margin-top: 14px
        &__info-label
            font-size: 12px
            line-height: 18px
            &:first-child
                margin-bottom: 8px
            &:nth-child(2)
                margin-bottom: 11px
    .slick
        &-custarr
            &-general
                width: 35px
                height: 35px
                bottom: -60px
                img
                    height: 15px
                    width: auto
        &-next
            right: -33px
            &.slick-custarr
                &-general
                    right: 20%
        &-prev
            left: -33px
            &.slick-custarr
                &-general
                    left: 20%
    .overlay
        position: fixed
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        overflow-y: scroll
        padding-top: 66px
        &_hidden
            left: 100%
        &__img
            div
                flex-basis: auto
                width: calc((100% - 13px) / 2)
        &__gen-top-wrapper
            display: flex
            flex-direction: row
            justify-content: flex-start
            align-items: flex-start
            margin-bottom: 19px
        &__back
            margin: 0
        &__top-wrapper
            margin-bottom: 0
            margin-left: 34px
            img
                height: 50px
                width: 50px
        &__titles
            margin-left: 8px
        h4
            margin-bottom: 8px
        &__text
            margin: 25px 0 85px
            font-size: 15px
            line-height: 22px
        .boutik
            &__location
                margin-top: 6px
        &__price-option
            padding-right: 18px
    .hamburger
        display: block   
    .pagination
        bottom: -37px 
    .sort-by
        &__title
            width: 62.93vw
    .boutik .slick-dots
        top: 452px
@media (max-width: 460px)
    .boutik .slick-dots
        top: 446px

@for $i from 0 to 5
    @media (max-width: 455px - 9px * $i)
        .boutik .slick-dots
            top: 440px - 10px * $i

@for $i from 0 to 15
    @media (max-width: 410px - 10px * $i)
        .boutik .slick-dots
            top: 395px - 10px * $i

@media (max-width: 350px)
    .general__fixed-popup
        width: 273px
        &-info
            padding-left: 7px
    .sort-by
        &__title
            width: 55vw