
@media (max-width: 1440px)
    .container-m
        width: 55vw
    .general__fixed
        width: 30vw
        right: 40px   
@media (min-width: 1440px)
    .container-m
        margin: 0 0 0 5vw
@media (min-width: 1515px)
    .container-m
        margin: 0 0 0 10vw
@media (min-width: 1615px)
    .container-s
        margin: 0 auto
    .general__fixed
        right: 5vw
@media (min-width: 1700px)
    .container-m
        margin: 0 0 0 15vw
    .general__fixed
        right: 5vw
@media (min-width: 1710px)
    .general__fixed
        right: 9vw
@media (min-width: 1990px)
    .general__fixed
        right: 13vw
@media (min-width: 2000px)
    .container-m
        margin: 0 0 0 20vw
@media (min-width: 2190px)
    .container-m
        margin: 0 0 0 23vw
    .general__fixed
        right: 15vw
@media (min-width: 2450px)
    .container-m
        margin: 0 0 0 26vw
    .general__fixed
        right: 19vw
@media (min-width: 2560px)
    .general__fixed
        right: auto
        left: calc(50% + 150px)

@media (max-width: 1200px)
    .container-s
        margin: 0 20vw 0 25vw
@media (max-width: 1050px)
    .container-s
        margin: 0 20vw 0 20vw
@media (max-width: 1000px)
    .container-m
        width: 60vw
    .general__fixed
        width: 25vw
        right: 30px
@media (max-width: 950px)
    .container-s
        margin: 0 15vw 0 15vw
@media (max-width: 930px)
    .container-m
        width: 65vw
    .general__fixed
        width: 20vw
        right: 25px
@media (max-width: 850px)
    .container-m
        width: 66vw
    .general__fixed
        width: 19vw
        right: 15px
@media (max-width: 769px)
    .header
        padding-top: 17px
        nav
            margin-left: 42px
        &__city_active::before
            bottom: -12px 
    .container
        width: calc(100% - 70px)
        margin: 0 30px 0 40px
        &-s
            width: 462px
            margin: 0 20.68vw 0 19.12vw
        &-m
            width: calc(100% - 70px)
            margin: 0 30px 0 40px
    .general__fixed
        display: none
    .boutik
        padding-bottom: 66px
        &__wrapper
            &>div .boutik:last-child
                padding-bottom: 66px
                border-bottom: 1px solid $mainDark20
    .general
        padding-bottom: 134.5px
    .slick
        &-custarr
            &-general
                bottom: -120px
        &-next
            right: -33px
            &.slick-custarr
                &-general
                    right: 100px
        &-prev
            left: -33px
            &.slick-custarr
                &-general
                    left: 100px
    .overlay
        &__carousel img
            width: 462px
        &__text
            margin-top: 24px
            &::after
                display: none
        &__back
            left: -107px
        &__top-wrapper
            img
                height: 44px
                width: 44px
        &__titles
            margin-left: 15px
@media (max-width: 748px)
    .overlay
        &__back
            left: -100px
@media (max-width: 728px)
    .overlay
        &__back
            left: -93px
@media (max-width: 708px)
    .overlay
        &__back
            left: -86px
@media (max-width: 688px)
    .overlay
        &__back
            left: -79px
@media (max-width: 660px)
    .container-s
        width: 70vw
        margin: 0 20.68vw 0 19.12vw
    .overlay
        &__carousel
            width: 70vw 
            img
                width: 70vw
        &__back
            left: -70px
@media (max-width: 585px)
    .container
        width: calc(100% - 50px)
        margin: 0 20px 0 30px
        &-m
            width: calc(100% - 50px)
            margin: 0 20px 0 30px
    .boutik
        &__img
            width: 30vw
            height: 30vw
            img
                width: 30vw
        &__info
            margin-left: 15px
@media (max-width: 490px)
    .container
        width: calc(100% - 25px)
        margin: 0 10px 0 15px
        &-m
            width: calc(100% - 25px)
            margin: 0 10px 0 15px
    .boutik
        &__img
            width: 30vw
            img
                width: 30vw
        &__info
            margin-left: 15px
@media (max-width: 470px)
    h2
        font-size: 16px
        line-height: 24px
    .container
        width: calc(100% - 40px)
        margin: 0 19px 0 21px
        &-m
            width: calc(100% - 40px)
            margin: 0 19px 0 21px
        &-s
            width: calc(100% - 42px)
            margin: 0 auto
    .header
        position: relative
        height: 48px
        padding-top: 11px
        z-index: 100
        &__logo
            margin-left: 40px
        nav
            display: none
    .hamburger
        display: block
    .general
        padding-top: 13px
        padding-bottom: 62px
        &__title
            margin-bottom: 24px
        &__subtitle
            margin-top: 18px
    .boutik
        bottom: 22px
        padding-top: 13px
        padding-bottom: 42px
        padding-right: 0
        &::before
        width: 100%
        &__img
            position: absolute
            top: 79px
            left: 0
            width: 100%
            height: 161px
            img
                width: 161px
                height: 161px
                margin-right: 13px
                &:last-child
                    margin-right: 0
        &__info
            margin-left: 0
        &__wrapper
            margin-top: 43px
            &>div .boutik:last-child
                padding-bottom: 42px
        &__top-wrapper
            padding-right: 0
        &__location
            margin-top: 4px
        &__desc
            margin-top: 201px
    .slick
        &-custarr
            &-general
                width: 35px
                height: 35px
                bottom: -60px
                img
                    height: 15px
                    width: auto
        &-next
            right: -33px
            &.slick-custarr
                &-general
                    right: 20%
        &-prev
            left: -33px
            &.slick-custarr
                &-general
                    left: 20%
    .sort-by__wrapper
        display: none
        &-mobile
            display: block
    .overlay
        padding-top: 51px
        height: 100%
        z-index: 1000
        &__carousel
            width: 100vw
            transform: translateX(-21px)
            img
                width: 100vw
        &__gen-top-wrapper
            display: flex
            flex-direction: row
            justify-content: flex-start
            align-items: flex-start
            margin-bottom: 20px
        &__back
            position: static
            margin: 0 31px 0 -2px
        &__top-wrapper
            margin-bottom: 0
            img
                height: 45px
                width: 45px
        &__share
            margin-top: 15px
        &__text
            margin-top: 25px