.boutik
    position: relative
    padding: 15.5px 10px 49px 0
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: flex-start
    cursor: pointer
    margin-left: 1px
    &::before
        position: absolute
        content: ""
        display: block
        background-color: $mainDark10
        height: 1px
        top: 0
        left: 0
        width: calc(100% - 34px)
    &__wrapper
        margin-top: 30.5px
        &>div .boutik:last-child
            padding-bottom: 0
            margin-bottom: 20px
    &__img
        height: 182px
        width: 182px
        border-radius: 3px
        img
            border-radius: 3px
        .slick-custarr
            opacity: 0
        &:hover
            .slick-custarr
                opacity: 1
    &__info
        margin-left: 27px
    &__top-wrapper
        display: flex
        flex-direction: row
        align-items: flex-end
        justify-content: space-between
        padding-right: 22px
    &__location
        display: flex
        flex-direction: row
        align-items: center
        justify-content: flex-start
        margin-top: 10px
        cursor: pointer
        +hoverOpacityTransi(.7)
        img
            height: 18px
        a
            margin-left: 12.5px
            color: $label
            text-decoration: none
    &__website
        display: flex
        flex-direction: column
        align-items: center
        justify-content: flex-end
        cursor: pointer
        +hoverOpacityTransi(.75)
        img
            height: 18px
            margin-bottom: 4px
        a
            color: $label
            text-decoration: none
    &__desc
        margin: 25px 0