.container
    width: calc(100% - 133px)
    margin: 0 59px 0 74px
    &-m
        position: relative
        width: 754px
        margin: 0 0 0 74px
    &-s
        position: relative
        width: 647px
        margin: 0 27.43vw 0 27.85vw